@*
    
*@
@{
}
<h1>Soy la vista del Filete Empanado</h1>
<img src="https://www.demoslavueltaaldia.com/sites/default/files/filetes-empanados.jpg" alt="Foto centrada" style="width: 300px; border-radius: 10px;" />    