@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Soy la vista del Filete Empanado</h1>
<img src="https://www.demoslavueltaaldia.com/sites/default/files/filetes-empanados.jpg" alt="Foto centrada" style="width: 300px; border-radius: 10px;" />    