@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>
        @Html.ActionLink("Ir a Saludo", "Saludo", "Home", new { Nombre = "Samuel" }, null)
</div>
