@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
 
        <form action="" method="post">
        <input type="text" name="Nombre" />
        <input type="text" name="Apellido" />
        <input type="submit" value="enviar" />
     
       
        </form>
       
    
    <p> El nombre introducido es: @ViewBag.Nombre</p>
</div>
