@{
    ViewBag.Title = "Listado de Productos";
}

<h2>Listado de Productos</h2>

<ul>
    <li>Producto 1: Manzanas</li>
    <li>Producto 2: Naranjas</li>
    <li>Producto 3: Plátanos</li>
    <li>Producto 4: Uvas</li>
    <li>Producto 5: Fresas</li>
</ul>

<!-- Enlace de regreso a Index -->
<p>
    @Html.ActionLink("Volver al Inicio", "Index", "Home")
</p>
